rp_local/__pycache__/
rp_local/sensor/__pycache__/
rp_local/test/__pycache__/
.vscode/settings.json
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/windows_386/terraform-provider-aws_v4.67.0_x5.exe
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform.tfstate
terraform/terraform.tfstate.backup
