rp_local/__pycache__/
rp_local/sensor/__pycache__/
rp_local/test/__pycache__/
rp_local/mqtt/__pycache__/
.vscode/settings.json
certs/

terraform/modules/lambda/lambda_function.zip

#Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl